.navbar-theme {
	background-color: #1DABB8;
}

.navbar-theme a {
	color: white;
	font-weight: bold;
}

.navbar-nav > li > a:hover {
	color: #1DABB8;
	background-color: white;
}

.navbar-theme a:hover {
	color: #83D6DE;
	background-color: white;
}

.panel-theme > .panel-heading {
    color: #fff;
    background-color: #1DABB8;
    font-weight: bold;
}

.btn-success {
	background-color: #BADA55;
	font-weight: bold;
}

.btn-success:hover {
	background-color: #97CE68;
}

.btn-primary {
	background-color: #3D8EB9;
}

.btn-primary:hover {
	background-color: #00587A;
}

.btn-warning {
	background-color: #FEC606;
}

.btn-warning:hover {
	background-color: #F89406;
}

th {
	background-color: #1DABB8;
	color: white;
	font-weight: bold;
}

.navbar-brand.a:hover {
	background-color: white;
}

.box {
	margin: 100px;
}

.icon-bar {
	background-color: white;
}